{% extends 'main/layout.html' %}

{% block content %}
<div  style="    display: flex;
    flex-direction: column;
    align-items: center;">
    <img width="50%" src="{{ item.image.url }}">
    <h6 style="font-size: 30px; font-family:Verdana,sans-serif; padding: 10px 0px;"><strong>{{ item.name|capfirst }}</strong></h6>
    <h4 style="display: inline-block; float: right; font-family:Verdana,sans-serif; padding: 10px 0px;"><strong>{{item.price}} BYN</strong></h4>
    <button  class="btn btn-dark">В корзину</button>
    <h6 style="font-size: 23px; font-family:Verdana,sans-serif; padding: 20px 0px;">{{ item.details|capfirst }}</h6>
</div>
{% endblock content %}
